# Xcode
DerivedData/
build/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift
*.log
*.swp

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (se usato)
Pods/

# Carthage (se usato)
Carthage/Build/

# === Exclude RevenueCat Store folder ===
MomPro/2 - Store - RevenueCat/

# === Exclude Resources folder ===
MomPro/Resources/


